<div class="courses-page">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <a [routerLink]="['/course/category']" class="btn btn-outline-secondary">
            <i class="fas fa-arrow-left"></i> Back to categories
        </a>
    </div>

    <div class="page-header">
        <h1>Explore Our Courses</h1>
        <p>Discover a variety of courses tailored to boost your skills and knowledge.</p>
    </div>

    <div *ngIf="courses.length === 0" class="no-courses-message text-center">
        <h2>No Courses Available</h2>
        <p>We currently do not have any courses in this category. Please check back later!</p>
    </div>

    <div *ngIf="courses.length > 0" class="course-list">
        <div *ngFor="let course of courses" class="course-card">
            <div class="course-image">
                <img [src]="course.thumbnail || 'images/default-thumbnail.png'" alt="{{ course.title }}">
            </div>
            <div class="course-content">
                <div class="course-header">
                    <h2>{{ course.title }}</h2>
                    <p class="price">{{ formatPrice(course.price) }}</p>
                </div>
                <!-- <p class="description">{{ course.description }}</p> -->
                 
                <p class="description"
                [popover]="course.description"
                [popoverTitle]="course.title"
                triggers="hover"
                container="body">
                {{ course.description }}{{ course.description.length > 150 ? '...' : '' }}
             </p>
                <div>
                    <div class="duration text-success"><i class="fa-solid fa-stopwatch"></i> {{ course.duration }} Total Hours</div>
                    <div class="course-type">Type: {{ course.courseType }}</div>
                    <div class="seats">Seats Available: {{ course.seatsAvailable || 'N/A' }}</div>
                    <div class="rating">
                        
                        <span *ngFor="let i of createRange; let index = index" class="fa-stack" style="width:1em">
                            <i class="far fa-star fa-stack-1x"></i>
                            <i [ngClass]="{'fas fa-star fa-stack-1x' : course.userRating.averageRating - index > 0}"></i>
                            <i [ngClass]="{'fas fa-star-half fa-stack-1x' : course.userRating.averageRating - index > 0.5}"></i>
                        </span>
                        
                        ({{
                        course.userRating?.totalRating }} reviews)</div>
                </div>
                <a [routerLink]="['/course/course-details', course.courseId]" class="btn btn-primary">View Details</a>
            </div>
        </div>
    </div>
</div>